---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Business Profile - [Nombre empresa]" description='Bienvenido a mi página de Servicios Académicos y Tecnología Educativa'>
	<main class="px-4">
		<SectionContainer class="py-24 md:py-36">
			<Hero />
		</SectionContainer>
	</main>
</Layout>
