---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Card from '../components/Card.astro';

const serviceItems = [
	{
		img: "https://images.pexels.com/photos/8093039/pexels-photo-8093039.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
		title: "Tesis",
		body: "Validación y corrección de formato. Redacción y estilo. Revisión de plagio."
	},
	{
		img: "https://images.pexels.com/photos/5184955/pexels-photo-5184955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
		title: "Asesorías",
		body: "En materias de Cálculo, Estadística, Probabilidad, Costos, Matemáticas financieras, etc."
	},
	{
		img: "https://images.pexels.com/photos/8297478/pexels-photo-8297478.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
		title: "Coaching",
		body: "Te preparamos para defender tu proyecto"
	},
	{
		img: "https://images.pexels.com/photos/18999556/pexels-photo-18999556/free-photo-of-screen-during-digital-presentation.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
		title: "Cursos",
		body: "Aprende Knotion, Tecnología Apple, Excel, Programación, Bases de datos"
	}
]
---

<Layout title="Nosotros somos - [Nombre empresa]" description='Nosotros somos una página de Servicios Académicos y Tecnología Educativa'>
	<main class="px-4">
		<SectionContainer id="about" class="flex flex-col items-center py-32 md:py-36">
			<h2 class="flex justify-center items-center mb-6 text-3xl font-semibold text-accent-light">Servicios</h2>
			<div class="grid grid-cols-1 grid-rows-1 gap-4 lg:gap-x-20 md:gap-x-14 md:grid-cols-2">
				{
					serviceItems.map(({ img, title, body }) => (
						<Card img={img} title={title} body={body}/>
					))
				}
			</div>
		</SectionContainer>
	</main>
</Layout>