<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,var(--color-primary)_0%,var(--color-accent-light)_50%,var(--color-primary)_100%)]">

    </span>
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm font-semibold text-accent-dark bg-icon rounded-full backdrop-blur-3xl whitespace-nowrap uppercase">
      <slot />
    </div>
  </span>
</div>