---
interface Props {
	img: string;
	title: string;
	body: string;
}

const { img, title, body } = Astro.props;
---

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
	<img class="rounded-t-lg" src={img} alt="" />
	<div class="p-5">
		<a href="#">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-black">{title}</h5>
		</a>
		<p class="mb-3 font-normal text-icon">{body}</p>
	</div>
</div>
