---
const navItems = [
  {
    title: "Quiénes somos",
    label: "about",
    url: "/#about",
  },
  {
    title: "Proyectos",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "Contacto",
    label: "contact",
    url: "mailto:mymail@gmail.com",
  },
]
---

<header class="fixed top-0 z-10 bg-primary flex justify-between items-center py-3 px-6 w-full mx-auto lg:px-60 md:px-40">
  <img src="https://images.pexels.com/photos/4498093/pexels-photo-4498093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Business profile" class="rounded-full w-12 h-12">
  <nav class="flex px-3 flex-row opacity-80 text-sm font-medium text-black-500 gap-3">
    {
      navItems.map((link) => (
        <a
          class="relative block transition hover:text-accent-light"
          href={link.url}
          aria-label={link.label}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  header {
    animation: nav-shadow 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadow {
    to {
      @apply backdrop-blur bg-primary1;
    }
  }
</style>