<header class="flex justify-between items-center py-3 w-full mx-auto mt-2">
  <img src="https://images.pexels.com/photos/4498093/pexels-photo-4498093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Business profile" class="rounded-full w-12 h-12">
  <nav class="flex px-3 flex-row opacity-80 text-sm font-medium text-gray-600 gap-2">
    <a href="/">Home</a>
    <a href="/about">Quiénes somos</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>