---
import Badge from "./Badge.astro"
---
<div class="flex flex-col items-center justify-center gap-3 lg">
  <Badge>
    Revisión de proyectos &middot; Asesorías &middot; Coaching
  </Badge>

  <h3 class="text-2xl text-center">
    Te apoyamos para que tengas
  </h3>
  <h1 class="text-4xl text-center">
    Éxito académico y desarrollo profesional
  </h2>
  <div class="w-full md:w-1/2">
    <img src="https://images.pexels.com/photos/5553078/pexels-photo-5553078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="hero photo" class="object-cover object-top w-full h-56 sm:h-full md:scale-105"/>
  </div>
</div>